h2{
    border: 5px solid black;
}


p.dotted{
    border-style: dotted;
    border-color: blue;  }

p.dashed{border-style: dashed;
    border-color: red;}

p.solid{border-style: solid;
    border-color: blueviolet;
    border-width: medium;}

p.double{border-style: double;
    border-color: cyan;}

p.groove{border-style: groove;
    border-color: darkblue;}

p.ridge{border-style: ridge;
    border-color: aquamarine;}

p.inset{border-style: inset;
    border-color: fuchsia;}

p.outset{border-style: outset;
    border-color: gold;}

p.mix{border-style: dotted dashed solid double;
    border-color: red green blue yellow;
    border-width: 2px 3px 2px 3px; }

div{
    width: 50%;
    background-color: gold;
    margin: 25px;
    border: 35px solid grey;
    padding: 20px;
}